:root {
    --palletePixelSize: 48px;
}

.toolbox__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-width: calc(48px * 5);
    width: auto;
    background: #2c2d30;
    max-height: 100%;
    overflow: scroll;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.toolbox__container::-webkit-scrollbar {
    display: none;
}

.toolbox__container>div {
    display: flex;
}

.toolbox__actions {
    justify-content: center;
    margin: 1rem;
}

.toolbox__header-container {
    padding: 0;
    margin: 0;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #a0da8c 0%, #1ad3fc 48.96%, #f76bfa 100%);
    justify-content: center;
}

.toolbox__header-heading {
    text-transform: uppercase;
    color: #fff;
}

.toolbox__pallete-container {
    min-width: 100%;
    width: auto;
    flex-wrap: wrap;
}

.toolbox__pallete-pixel {
    width: 48px;
    height: 48px;
    display: inline-block;
    cursor: pointer;
}

@media (max-width: 576px) {
    /* TODO - Figure out how to handle mobile

    .toolbox__container>div {
        flex-direction: column;
        align-items: center;
    }

    .toolbox__container {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    } 
    
    */
}

.toolbox__container {
    background-color: #2b2b2b;
}